<div class="chat-container">
  <div class="chat-messages">

    <div class="grid gap-y-2">

      <app-chat-message text="Write your message"/>


      <app-my-message text="Hi World"/>

      <app-typing-loader />
    </div>

  </div>

  <!-- Message-Box -->
  <!-- <app-text-message-box
  placeholder="Write your question" (onMessage)="handleMessage($event)"/> -->

  <!-- <app-text-message-box-file
  placeholder="Write your question" (onMessage)="handleMessageWithFile($event)"/> -->

  <app-text-message-box-select
  placeholder="Write your question"
  [options]="[{ id: '1', text: '1'},{ id: '2', text: '2'}]"
  (onMessage)="handleMessageWithSelect($event)"/>
</div>
